.signup_heading{
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
    
}
.Card_outer_signup{
    width:38rem ;
    height: 62rem;
    border-radius: 2rem;
    padding: 0rem 2rem; 
  
}
.signup_heading-sub
{
    width: 45%;
  
}
.display-flex
{
    margin-top: 2rem;
    display:flex;
justify-content: space-between;
align-items: center;
}
.search_width{
    width: 70%;
}
.ml-2{
    margin-left: 6rem;
}