.signup_heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    
}
.Form-signup {
    font-size: 12px;

}
.Card_outer_signup{
    width:50rem ;
    border-radius: 1.1rem;
    padding: 2rem; 
    box-shadow: rgba(238, 233, 233, 0.35) 0px 5px 15px;
}
.signup_heading-sub
{
    width: 45%;
  
}
.display-flex
{
    margin-top: 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.search_width{
    width: 70%;
}
.ml-2{
    margin-left: 6rem;
}